@model ProductVM


<form asp-action="UpdateProduct" asp-controller="Product" method="post">

    <!--<input type="hidden" asp-for="Product.ID" />--> @*id'mi gönderiyorum*@
    <div>
        <input type="text" asp-for="Product.ProductName" placeholder="type product name" />
    </div>
    <div>
        <input type="text" asp-for="Product.UnitPrice" placeholder="type price" />
    </div>
    <div>
        <input asp-for="Product.UnitInStock" placeholder="type stock">
    </div>
    <div>
        <select asp-for="Product.CategoryID" asp-items='new SelectList(Model.Categories,"ID","CategoryName")'>
            <option>
                Please Select
            </option>
        </select>
    </div>
    <button>Add</button>
</form>